
#padre{
    background-color: #fafafa;
    /*margin: 1rem;*/
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 3rem;
    /*border: 2px solid #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center
}
#center{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
}
